.speedDial {
    position: fixed;
    right: 3vmax;
    top: 5vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }

 /* NavBar.css */
.navbar {
  background: var(--green-color); /* Soft gradient for a modern feel */
  
  padding: 2px 2px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: background-color 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.nav-links li {
  cursor: pointer;
  color: rgb(32, 28, 28);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav-actions {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 5px 10px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  color: white;
  width: 200px;
  transition: width 0.3s ease;
}

.search-input:focus {
  width: 250px;
}

/* New Icon-based Search Button */
.search-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
  transition: transform 0.2s ease;
}

.search-btn:hover {
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}

.search-go-icon {
  color: white;
  font-size: 24px;
}



.nav-icon {
  position: relative;
  width: 60px;
  height: 45px;
  background-color: #fff; /* Body of the house */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}