.sidebar {
  background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    margin-top: 8rem;
    margin-left: -6rem;
  }

 
  
  .sidebar > a:first-child {
    padding: 0;
  }
  .sidebar > a > img {
    width: 5rem;
    transition: all 0.5s;
  }
  
  .sidebar > a > img:hover {
    filter: drop-shadow(0 0 10px var(--hover-green));
  }

  .sidebar a,
  .link-sidebar
   {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
  }
  .sidebar a:hover,
  .link-sidebar:hover {
    color: var(--hover-green);
    transform: scale(1.1);
  }
  
  .sidebar a > P
   {
    display: flex;
    align-items: center;
  }
  .sidebar a > p > svg {
    margin-right: 0.5rem;
  }
  
  .MuiTypography-root {
    background-color: #fff !important;
  }