.banner {
    background-image: url("../../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
  }

  
  
  .banner > h1 {
   font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.4vmax "Lucida Sans";
    margin: 5vmax;
  }
  
  .banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: var(--bg-color);
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
  }
  .banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: var(--bg-color);
  }
  
  .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: var(--bg-color);
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
  }


  
  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }

  .products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2vmax;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    background-color: var(--bg-color);
    
  }
  
  .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }
  
  .productCard > img {
    width: 14vmax;
  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    color: var(--green-color);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    padding: 1vmax;
    transform: translateY(-1vmax);
  }

  .Prod-Btn {
    text-align: center;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background-color: var(--green-color);
    font: 500 1.2vmax "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    width: 5vmax;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2vmax;
    margin-bottom: 2.5vmax;
    outline: none;
  }
  .Prod-Btn:hover {
    background-color: var(--hover-green);
  }

  .promise-comp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font: 300 1.2vmax "Roboto";
    width: 35vmax;
    margin-left: auto;
    margin-right: auto;
  }

 .promise-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmax;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2vmax;
  width: 42vmax;
  margin-left: auto;
  margin-right: auto;
 }

  .promise-comp > img {
     width: 6vmax;
     height: 6vmax;
  }

  .promise-comp > p {
    width: 24vmax;
  }

  
  
  @media screen and (max-width: 600px) {

    .productCard {
      width: 12vmax;
    }

    
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }

    .Prod-Btn {
      font: 500 1.8vmax "Roboto";
    }

    .promise-comp {
      font: 300 1.5vmax "Roboto";
    }

    .products {
      width: 70vw;
    }

    
  }